* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Aesthetic;
  src: url("https://fonts.googleapis.com/css2? family= Jost:ital@1 & family= PT+Serif:ital@1 & display=swap"); }

h1, h2 {
  justify-content: center;
  text-align: center; }

.nav-wrapper {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1rem; }

nav {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Nothing You Could Do', cursive;
  justify-content: space-between;
  align-items: center;
  background-color: #4b4a4a;
  padding: .4375rem 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 3px 3px; }

nav .menu {
  text-align: center; }
  nav .menu a {
    font-weight: 700;
    color: whitesmoke; }

nav .logo {
  font-weight: 700; }

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; }

nav a {
  text-decoration: none;
  color: white; }

nav #toggle, nav label {
  display: none; }

.Home {
  background-image: url(../assets/img/fondohtml.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.Market {
  background-image: url(../assets/img/marketfondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.ubication {
  background-image: url(../assets/img/fondoubication.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.contact-us {
  background-image: url(../assets/img/contactusfondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.biography {
  background-image: url(../assets/img/fondohtml.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.presentacion-index {
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(12, 7, 7, 0.349);
  text-align: center;
  justify-content: center;
  padding: .875rem; }

.videoPresentando {
  display: flex;
  font-family: 'Jost';
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem; }

.bioGeneral {
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75vh; }

.presentacion-bio {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  padding: .5rem;
  font-size: 1.2rem; }

.cuadro-1, .cuadroDos {
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  width: auto;
  height: auto;
  border-radius: 15px;
  border: 1px;
  background-color: rgba(0, 0, 0, 0.737);
  box-shadow: gray;
  overflow: hidden;
  margin: .1563rem; }

.cuadro-1 p, .cuadroDos p {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center; }

.cuadroDos p {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center; }

.contacto-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2.625rem; }

.titulo-contactus h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  padding: .875rem;
  font-size: 2.5rem; }

.probandOsi {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  width: 15rem;
  height: 10rem;
  gap: 1.5rem; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: auto;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer li {
    display: inline-block; }
    footer li a {
      gap: 11.875rem; }
      footer li a:hover {
        padding-left: .375rem;
        color: rgba(242, 255, 0, 0.905); }

.ubi-html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  gap: 1.875rem; }

.parrafo-ubi {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  padding: .875rem;
  font-size: 1.3rem; }

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; } }

@media (max-width: 425px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; } }

@media screen and (max-width: 425px) {
  .presentacion-index {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 425px) {
  .bioGeneral div {
    width: auto;
    height: 100vh;
    padding: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 425px) {
  .bioGeneral div p {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 425px) {
  .top-2 li a {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 425px) {
  .navbar {
    color: white;
    padding-top: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 425px) {
  .ubi-html {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    gap: 1.875rem; } }

@media screen and (max-width: 425px) {
  footer {
    display: inline; } }

@media screen and (max-width: 768px) {
  .presentacion-index h2 {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 768px) {
  .bioGeneral div {
    width: auto;
    height: 100vh;
    padding: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .bioGeneral div p {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 768px) {
  .top-2 li a {
    padding-top: 1.25rem;
    color: white; } }

@media screen and (max-width: 768px) {
  .ubi-html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
    gap: 1.875rem; } }

@media screen and (max-width: 768px) {
  footer {
    display: inline; } }
