.Home {
background-image: url(../assets/img/fondohtml.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.Market {
background-image: url(../assets/img/marketfondo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.ubication {
background-image: url(../assets/img/fondoubication.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.contact-us {
background-image: url(../assets/img/contactusfondo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.biography {
    background-image: url(../assets/img/fondohtml.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }