footer {
    @include flex (row,space-between,center,15rem);
    text-align: center;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    li {
        display: inline-block;
        a {
            gap: 8.75rem;
            color: rgb(0, 0, 0);
            &:hover {
                padding-left: .375rem;
                color: rgba(242, 255, 0, 0.905);
            }
        }
    }
}