footer {
    @include flex (row,space-between,center,15rem);
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: auto;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    li {
        display: inline-block;
        a {
            gap: 11.875rem;
            &:hover {
                padding-left: .375rem;
                color: rgba(242, 255, 0, 0.905);
            }
        }
    }
}