header {
    background-color: $background;
    display: flex;
    justify-content: center;
    padding: .125rem;
    .navbar {
    overflow: hidden;
    position: sticky;
    ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 1.5rem;
            li {
                a {
                    text-decoration: none;
                    color: $font-color;
                    font-size: 1.1rem;
                    &:hover {
                        color: rgb(37, 183, 173);
                    }
                }
            }
        }
    }
}