.contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 2.625rem;
}

.titulo-contactus h2 { 
    font-family: 'Bebas Neue', sans-serif; 
    padding: .875rem; 
    font-size: 2.5rem; 
}

    .probandOsi {
        color: black;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
        width: 15rem;
        height:10rem;
        gap: 1.5rem;
    }