@media screen and (max-width: 425px) {
    .presentacion-index {
        padding-top: 1.25rem;
        color: white;
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div {
    width: auto;
    height: 100vh;
    padding: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div p{
        padding-top: 1.25rem;
        color:rgb(255, 255, 255)
    }
}

@media screen and (max-width: 425px) {
    .top-2 li a {
        padding-top: 1.25rem;
        color: rgb(255, 255, 255)
}
}

@media screen and (max-width: 425px) {
    .navbar {
        color: white;
        padding-top: 1.25rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (max-width: 425px){
    .ubi-html{
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    gap: 1.875rem;
    }
}

@media screen and (max-width: 425px){
    footer {
        display: inline;
    }
}
