@media screen and (max-width: 425px) {
    .presentacion-index h2 {
        padding-top: 1.25rem;
        color: blue;
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div {
    width: auto;
    height: 100vh;
    padding: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div p{
        padding-top: 1.25rem;
        color:rgb(0, 0, 0)
    }
}

@media screen and (max-width: 425px) {
    .top-2 li a {
        padding-top: 1.25rem;
        color: yellow
}
}

@media screen and (max-width: 425px) {
    .navbar {
        padding-top: 1.25rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (max-width: 425px){
    .ubi-html{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    gap: 1.875rem;
    }
}